.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-weight: 700;
    font-size: 1.125rem;
}

.banner__texto{
    font-size: 1rem;
    font-weight: 500;
    margin: 1.5em 0;
}

.banner__pesquisa{
    background-color:transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 32px;
    padding:1em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-menu);
    color: var(--branco);
    font-weight: 400;
    font-size: 14px;
    background-image: url(../assets/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 0.5em;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
}

    .banner__pesquisa::placeholder {
        background-position: 6em;
    }

.banner {
    padding: 6em 2.0em;
}

}

@media screen and (min-width: 1720px) {
    .banner__pesquisa {
        width: 35%;
        padding: 1.5em 1em;
    }

    .banner__pesquisa::placeholder{
        background-position: 11em;
    }

    

  
}